extends layout

block content
  section
    h1= title
    p Welcome to #{title}
    p Настало время основательно познакомиться с новыми технологиями, чтобы основательно поднатореть в них.
    p Добавлю ещё один абзац, чтобы убедиться, что всё прошло гладко.
